* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,1,69,1) 48%, rgba(11,0,13,1) 100%);
    color: white;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.header, .headbar {
    position: relative;
    width: 100px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lefthead {
    display: flex;
    align-items: center;
}

.middlehead {
    display: flex;
    align-items: center;
}

.righthead {
    display: flex;
    align-items: center;
}

.socialicons {
    padding: 10px;
    margin: 10px;
}

.mainlogo {
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
    padding-top: 5px;
}

.logoname {
    font-size: xx-large;
    font-weight: bolder;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.navbar li {
    cursor: pointer;
}

.navitems {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    list-style-type: none;
    border-color: white;
}

.navbar li:hover {
    border-bottom: 1px solid white;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: red;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: flex;
  flex-direction: column;
}

.image-slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
    width: 100%;
  }

  .sliderimg {
    width: 100%;
    height: 700px;
  }

  .fade {
    animation-name: fade;
    animation-duration: 5s;
  }

  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

  .mainheading {
    text-decoration: underline dashed;
    font-size: 40px;
  }

  .gallery {
    padding: 80px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: 320px;
    gap: 60px;
  }

  .grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .box-image {
    position: relative;
    border: 1px solid white;
    padding: 10px;
  }
  
  .box-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .box-image:hover .box-hover {
    display: flex;
  }

  @media screen and (max-width: 996px) {
    .grid img,
    .box-hover {
      min-height: 320px;
      max-height: 320px;
    }
  
    .gallery {
      padding: 15px;
    }
  }

.anvitha-fullform {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3 {
    text-align: center; 
}

p {
    font-size: large;
    padding: 10px;
}

.margin {
    margin-left: 10px;
    font-style: italic;
}

/* ===================================================================== */

.circle-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 50px auto;
    border-radius: 50%;
    background-image: url('media/images/anvithalogo.png');
    background-size: cover;
    background-position: center center;
  }
  
  .word {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px #000;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.5);
    
    /* Animation */
    
    animation-name: circle-move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

	/* Offset path */
	
	  offset-path: path('M150,150 m0,-100 a100,100 0 1,1 0,200 a100,100 0 1,1 0,-200');
	  offset-distance: calc(50% - (100px / 2));
	  offset-rotate: auto;
  }
  
   @keyframes circle-move {
     from {transform:none;}
     to {transform:rotate(360deg);}
   }