* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(46,1,69,1) 48%, rgba(11,0,13,1) 100%);
    color: white;
    overflow-x: hidden;
}

.center {
    text-align: center;
}

.header, .headbar {
    position: relative;
    width: 100px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.lefthead {
    display: flex;
    align-items: center;
}

.middlehead {
    display: flex;
    align-items: center;
}

.righthead {
    display: flex;
    align-items: center;
}

.socialicons {
    padding: 10px;
    margin: 10px;
}

#mainlogo {
    width: 100px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px;
    padding-top: 5px;
}

.logoname {
    font-size: xx-large;
    font-weight: bolder;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.navbar li {
    cursor: pointer;
}

.navitems {
    text-decoration: none;
    font-weight: bolder;
    font-size: larger;
    list-style-type: none;
    border-color: white;
}

.navbar li:hover {
    border-bottom: 1px solid white;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
    width: 100%;
  }

  .sliderimg {
    width: 100%;
    height: 700px;
  }

  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }

  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }

.content {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

h1, h2, h3 {
    text-align: center;
    
}

p {
    font-size: large;
    padding: 10px;
}

.margin {
    margin-left: 10px;
    font-style: italic;
}